@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&family=DM+Sans&family=Libre+Franklin&family=Montserrat+Alternates:wght@200;300&family=Montserrat:ital@1&family=Open+Sans:wght@500;600&family=Roboto+Condensed&family=Roboto+Mono:wght@300;400;500&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');

body {
    background-color: rgb(218, 218, 218);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    background-color: rgb(177, 176, 176);
}
.body__title {
    text-align: center;
    font-size: 3.4em;
    margin-bottom: 30px;
}

.quiz {
    width: 100%;
    margin: 0 auto;
}
.quiz__questions {
    margin: 0 auto;
    /* width: 100%; */
    max-width: 840px;
    border: 2px solid black;
}
.questions__text {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}
.questions__input {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
    border: none;
    background-color: #272727;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    /* cursor: default; */
}
.questions__input:focus {
    border: 3px solid black;
}
.quiz__text {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.bold-green {
    color: rgb(0, 160, 5);
    font-weight: 600;
}
.check__answer {
    margin: 15px 0 0 88px;
}
.btn {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 38%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
    border: none;
}
.btn:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
}
.quiz__results {
    font-size: 30px;
    text-align: center;
}
.result__active {
    color: red;
}
.red {
    color: red;
    font-weight: 700;
}
.light {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}
/* .hard .questions__input:focus {
    outline: none;
    border: 1px solid black;
}
.hard .questions__input {
    border-radius: 0;
} */
.bigNum {
    font-size: 17px;
    color: #000000;
    margin-right: 5px;
}
.num__input input{
    border: 2px solid black;
    border-radius: 0;
}
.num__input input:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);  
    
}
:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 400ms ease;
}
.other {
    color: rgb(97, 84, 84);
    font-weight: 900;
    font-size: 25px;
}
/* .hard {
    height: 300px;
    overflow-y: scroll;
} */



@media (max-width: 400px) {
    body {
        width: 100%;
    }
    .btn {
        margin: 10px 100px;
    }
    .body__title {
        font-size: 2.6em;
    }
}
@media (max-width: 330px) {
    .btn {
        margin: 10px 80px;
    }
    .num__input {
        position: relative;
    }
    .bigNum {
        position: absolute;
        top: 8px;
        left: 3px;
        color: aquamarine;
    }
    .body__title {
        font-size: 2.7em;
    }
}